<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ app_name }}</title>

    {% block head_content %}
        
    {% endblock head_content %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrapcss/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block styles %}
        
    {% endblock styles %}
</head>
<body>

    {% block page_wrapper %}
    
        {% block nav %}
            
        {% endblock nav %}

        {% block content %}
            
        {% endblock content %}

        {% block footer %}
            
        {% endblock footer %}
    {% endblock page_wrapper %}

    <!-- Flash Messages Component - Toast Notifications -->
    {% include '00_app_components/flash.html' %}

    <script src="{{ url_for('static', filename='js/bootstrapjs/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    {% block scripts %}
        
    {% endblock scripts %}
</body>
</html>